<footer class="site--footer">
    <div class="container">
        <div class="col">
            <h3>About</h3>
            <p>I'm Joel and I'm currently a Frontend Web Developer at <a href="#">Studio Chriate</a>.</p>
        </div>
        <div class="col">
            <h3>Contact</h3>
        </div>
    </div>
</footer>
<footer class="copyright">
    <div class="container">
        &copy; Joel Krause {{ dateFormat "2006" now }} | Feel free to share, but please, give credits.
    </div>
</footer>
</body>

</html>