<nav class="site--navigation">
    <input type="checkbox" id="open-menu" class="open--menu" />
    <label for="open-menu" class="open--menu_label">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
    </label>
    <ul class="navigation">
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/pages/about/">About</a></li>
        <li><a href="/pages/my-tools/">Tools I Use</a></li>
        <li><a href="/pages/contact/">Contact</a></li>
    </ul>
</nav>