// Colors
:root {
    --body_color: #333;
    --body_background: #ffffff;
    --color_accent_background: #fcfcfc;
    --color_accent_text: #ffffff;
    --color_accent_display: #2beb86;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Min-width
@mixin sm-up() {
    @media (min-width: #{$sm}) {
        @content;
    }
}

@mixin md-up() {
    @media (min-width: #{$md}) {
        @content;
    }
}

@mixin lg-up() {
    @media (min-width: #{$lg}) {
        @content;
    }
}

@mixin xl-up() {
    @media (min-width: #{$xl}) {
        @content;
    }
}

// Max-width
@mixin sm-down() {
    @media (max-width: #{$sm}) {
        @content;
    }
}

@mixin md-down() {
    @media (max-width: #{$md}) {
        @content;
    }
}

@mixin lg-down() {
    @media (max-width: #{$lg}) {
        @content;
    }
}

@mixin xl-down() {
    @media (max-width: #{$xl}) {
        @content;
    }
}