// Colors
:root {
    --body_color: #333;
    --body_background: #ffffff;
    --color_accent_background: #f8f8f8;
    --color_accent_text: #ffffff;
    --color_accent_display: #2beb86;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1920px;

// @include mq(up,md) {
//     display: block;
// }
@mixin breakpoint($direction, $size) {
    @if $size=='sm' {
        $size: $sm;
    }

    @else if $size=='md' {
        $size: $md;
    }

    @else if $size=='lg' {
        $size: $lg;
    }

    @else if $size=='xl' {
        $size: $xl;
    }

    @else if $size=='xxl' {
        $size: $xxl;
    }

    @if $direction=='up' {
        $direction: 'min-width';
    }

    @else if $direction=='down' {
        $direction: 'max-width';
    }

    // Now for the actual content!
    @media ($direction: $size) {
        @content;
    }
}