{{ define "main" }}
<div class="single--post">
  <div class="mega--title">
    <div class="container">
      <h1>{{.Title}}</h1>
      <div class="posted-on">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
      <div class="read">{{ .ReadingTime }} minute Read</div>
    </div>
  </div>
  <div class="post--intro">
    <div class="container">
      <div class="intro--desc">{{ .Description }}</div>
    </div>
    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" class="header_image" />{{ end }}
  </div>
  <div class="post--content container">
    {{ .Content }}
  </div>
</div>
{{ end }}